@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{margin: 0;padding: 0;}
#top_header{width: 100%;float: left;background: #303030;padding: 10px 0px;}
.container{width: 1140px;margin: auto;}
.logo{width: 20%;float: left;}
.logo img{
    
width: 90px;
    
margin-left: 40px;
}
.manu{width: 50%;float: left;margin-top: 20px;}
.manu ul{
    list-style: none;
    margin-left: 85px;
}
.manu ul li{
    display: inline-block;
    margin: 0px 20px;
}
.manu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    transition: 1s;
    cursor: pointer;
}
.manu ul li a:hover{
    font-size: 13px;
    color: rgb(221, 191, 135);
    
}
.search{width: 29%;float: left;margin-top: 20px;}
.search i{
    color: white;
    margin-left: 290px;
}
#hero{
    width: 100%;
    float: left;
    padding-top: 191px;
    background: url("image/1223png.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container h1{
    width: 40%;
    padding: 20px 0px;
    font-size: 90px;
    letter-spacing: 2px;
    margin-top: 70px;
   
}
.container p{
    width: 40%;
    padding: 15px;
    line-height: 20px;
    
}
.container a{}
.butt{
    padding: 30px 0px;
    
}
.butt button{padding: 13px 50px;border-radius: 4px;background: #e8631c;}
.{}
.{}
.{}
.{}
.{}
.{}
.{}








